.row.reviews.justify-content-around    
    each review in reviews
        .col-md-6.col-lg-4.mb-4 
            .card 
                .card-body.text-center 
                    blockquote.blockquote 
                    p.mb-0 
                        | #{review.review} 
                    footer.blockquote-footer 
                        | #{review.name} 